{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<div class="content15">
<header>
    {% include 'header/head.html' %}
</header></div>
<body>
   <div  class="content15"> <div class="maind">
    {%block content%}

    {%endblock%}
</div>
</div>
</body>


    {% include 'footer/foot.html'%}

</div>
</html>

<style>
.maind{
    height: 600px;
}
</style>

